<div class="toolbar" role="banner">
    <img (click)="goHome()" class="pointer" width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span (click)="goInfo()" class="pointer">Welcome</span>
    <span (click)="goAdmin()" class="ml-10 pointer">admin</span>
    <span (click)="goSleep()" class="ml-10 pointer">Sleep</span>
    <span (click)="goNotFound()" class="ml-10 pointer">404</span>
    <span (click)="goSnapshot()" class="ml-10 pointer">appSnapshot</span>
    <span (click)="goDom()"class="ml-10 pointer">DOM</span>
    <span (click)="goAnimation()"class="ml-10 pointer">Animation</span>
    <span (click)="goLoader()"class="ml-10 pointer">Loader</span>
    <span (click)="goTheme()"class="ml-10 pointer">Тема</span>
    <span (click)="goInternationalization()"class="ml-10 pointer">Internationalization</span>
    <span (click)="goTest()"class="ml-10 pointer">Test</span>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>




