// ОБЩИЕ КЛАССЫ ДЛЯ ПРИЛОЖЕНИЯ - @import '03_common'; - добавлены в styles.scss

.pointer{
    cursor: pointer;
}

.div-disabled {
    pointer-events: none; // div становиться не кликабелен
    opacity: .3; // прозрачен
}

