//  @import 'app/01_root/01_helper/style/03_common';; - добавлены в styles.scss
.pointer{
    cursor: pointer;
}

.div-disabled {
    pointer-events: none; // div становиться не кликабелен
    opacity: .3; // прозрачен
}

