/* =========== АНИМАЦИЯ =========== */
.animation-trans-x {
    animation: 0.5s trans-x linear;
}
.animation-trans-x-rev {
    animation: 0.5s trans-x-rev linear;
}

.animation-trans-y {
    animation: 0.5s trans-y linear;
}
.animation-trans-y-rev {
    animation: 0.5s trans-y-rev linear;
}

/* =========== KEYFRAMES =========== */
@keyframes trans-x {
    from { transform: translateX(100%); }
    to { transform: translateX(0%); }
}

@keyframes trans-x-rev {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}

@keyframes trans-y {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

@keyframes trans-y-rev {
    from { transform: translateY(-100%); }
    to { transform: translateY(0%); }
}

