<div class="wrapper-wrap">
    <div
        *ngIf="!isHiddenMenu"
        [ngClass]="{
        'container-tablet': currentAppSnapshot.appScreen.typeScreen === 'tablet',
        'container-column': currentAppSnapshot.appScreen.typeScreen !== 'tablet'
        }"
    >
        <menu outline type="1px solid green" *ngIf="currentAppSnapshot.appScreen.typeScreen !== 'tablet'" ></menu>
        <div class="content-wrap">
            <router-outlet></router-outlet>
        </div>
        <menu outline type="1px solid green" *ngIf="currentAppSnapshot.appScreen.typeScreen === 'tablet'"></menu>
    </div>

    <ng-container *ngIf="isHiddenMenu">
        <div class="container-all">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
