:host{
    width: 100%;
    height: 100%;

    // меню с левой стороны
    .wrapper-menu-row{
        width: 100%;
        height: 100%;
        background: #3bb4e5;
    }

    // меню сверху
    .wrapper-menu-column{
        width: 100%;
        height: 100%;
        background: #3bb4e5;
    }
}

