:root {
    --bg: #F9F9F9;
    --color: #333333;
    --vw: 1090px;
    --vh: 969px;
    --dpi: 1px;
}
/* Убираем внешние отступы */
* { padding: 0; margin: 0; }

/* Указываем box sizing */
*, *::before, *::after { box-sizing: border-box; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] { list-style: none; }

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

html {
    height: 100%;
    min-height: 100% !important;
}
body{
    height: 100%;
    min-height: 100% !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background: #F9F9F9;
    color: #444756;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
