<button (click)="fullScreen()">Полный экран</button>
<button (click)="exitFullScreen()">Выход из полного экрана</button>

<p class="">test works!</p>
<h1>Screen Orientation API</h1>

<span id="so-unsupported" class="api-support hidden">API not supported</span>

<div id="so-results">
    <p>
        The orientation of the device is <span id="orientation" class="value">unavailable</span>
    </p>
    <form id="form-orientation">
        <label for="orientation">Lock the device in:</label>
        <select id="orientation-type">
            <option value="portrait">portrait</option>
            <option value="landscape">landscape</option>
            <option value="portrait-primary">portrait-primary</option>
            <option value="portrait-secondary">portrait-secondary</option>
            <option value="landscape-primary">landscape-primary</option>
            <option value="landscape-secondary">landscape-secondary</option>
        </select>
        <br />
        <input class="button-demo" id="lock-button" type="submit" value="Lock!" />
        <button class="button-demo" id="unlock-button">Unlock!</button>
    </form>
</div>

<small class="author">
    Demo created by <a href="http://www.audero.it">Aurelio De Rosa</a>
    (<a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>).<br />
    This demo is part of the <a href="https://github.com/AurelioDeRosa/HTML5-API-demos">HTML5 API demos repository</a>.
</small>
