@import '../../../00_style/variables';
$size: 30vw;
$smallSize: 1vw;
$fs: 2vw;

:host {
    width: 100%;
    height: 100%;
    display: block;
    background: $bg;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

u {
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border-top: $smallSize solid #eb1777;
    box-sizing: border-box;
    animation: 2s Rotate ease-in-out infinite;
    -webkit-animation: 2s Rotate ease-in-out infinite;
    color: $color;
    line-height: $size;
    text-align: center;
    text-decoration: none;
}
@keyframes Rotate {
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes Rotate {
    50% {
        -webkit-transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

u:before,
u:after {
    display: block;
    position: absolute;
    content: "";
    width: $size;
    height: $size;
    top: -$smallSize;
    left: 0;
    border-radius: 50%;
    box-sizing: border-box
}

u:before {
    border-top: $smallSize solid #89c759;
    transform: rotate(120deg)
}

u:after {
    border-top: $smallSize solid #3bb4e5;
    transform: rotate(240deg)
}

u i {
    animation: 2s deRotate linear infinite;
    -webkit-animation: 2s deRotate linear infinite;
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    top: -$smallSize;
    left: 0;
    font-size: $fs;
}

@keyframes deRotate {
    50% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes deRotate {
    50% {
        -webkit-transform: rotate(-180deg)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}
